@using WebShopSeminar.Models.ViewModel
@model List<ProductViewModel>
@{
    int counter = 1;
}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Naziv</th>
      <th scope="col">Opis</th>
      <th scope="col">Cijena</th>
      <th scope="col">Količina</th>
      <th scope="col">Detalji</th>
      <th scope="col">Uredi</th>
      <th scope="col">Obriši</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var product in Model)
      {
        <tr>
          <th scope="row">@counter</th>
          <td>@product.Title</td>
          <td>@product.Description</td>
          <td>@product.Price</td>
          <td>@product.Quantity</td>
          <td><a href="@Url.Action("ItemView", "Home",new {id = product.Id})" class="btn btn-info">Detalji</a></td>
          <td>@Html.ActionLink("Uredi", "UpdateProduct", "Admin", new {id = product.Id}, new{@class = "btn btn-primary"})</td>
          <td>@Html.ActionLink("Obriši", "DeleteProduct", "Admin", new {id = product.Id}, new{@class = "btn btn-danger"})</td>

        </tr>
        counter++;
      }
  </tbody>
</table>

<a class="btn btn-success" href="@Url.Action("AddProduct", "Admin")">Dodaj novi proizvod</a>
<a class="btn btn-success" href="@Url.Action("AddProductCategory", "Admin")">Dodaj novu kategoriju</a>