@model List<WebShopSeminar.Models.ViewModel.ApplicationUserViewModel>

@{
    ViewData["Title"] = "UserAdministration";
}

<h1>Administracija korisnika</h1>

<p>
    <a class="btn btn-primary" href="@Url.Action("CreateNewUser", "Admin")">Kreiraj novog korisnika</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].DOB)
            </th>
            <th scope="col">Uredi</th>
            <th scope="col">Obriši</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>@Html.ActionLink("Uredi", "EditUser", "Admin", new {id = item.Id}, new{@class = "btn btn-primary"})</td>
            <td>@Html.ActionLink("Obriši", "DeleteUser", "Admin", new {id = item.Id}, new{@class = "btn btn-danger"})</td>
        </tr>
}
    </tbody>
</table>
