@model List<WebShopSeminar.Models.ViewModel.ApplicationUserViewModel>

@{
    ViewData["Title"] = "UserAdministration";
}

<h1>Administracija korisnika</h1>

<p>
    @Html.ActionLink("Kreiraj korisnika", "CreateNewUser", new { /* id=item.PrimaryKey */ })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].DOB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Uredi", "EditUser", new { id=item.Id }) |
                @Html.ActionLink("Obriši", "DeleteUser", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
