@using Microsoft.AspNetCore.Identity
@using WebShopSeminar.Models.Dbo
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
       var user = await UserManager.GetUserAsync(User);
}

<ul class="navbar-nav">
    @if (user != null)
    {
         var userRoles = await UserManager.GetRolesAsync(user);
        <li class="nav-item">
            <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @user.Firstname!</a>
        </li>
        @if(userRoles[0] == Roles.Admin)
            {
                <li class="nav-item">
                    <a class="nav-link text-dark"  href="@Url.Action("ProductAdministration", "Admin")">Proizvodi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark"  href="@Url.Action("ProductCategoryAdministration", "Admin")">Kategorije</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark"  href="@Url.Action("UserAdministration", "Admin")">Korisnici</a>
                </li>
            }
        <li class="nav-item">
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="@Url.Action("Registration", "User")">Registracija</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
