@model WebShopSeminar.Models.ViewModel.CreateProductViewModel

@{
    ViewData["Title"] = "CategoryDetails";
}

<h1>Detalji kategorije</h1>

@using (Html.BeginForm())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Naziv</th>
                <th scope="col">Opis</th>
                <th scope="col">Kategorija</th>
                <th scope="col">Detalji</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=> item.ProductCategory.Title)
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Home",new {id = item.Id})" class="btn btn-primary">Detalji</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" href="@Url.Action("Category", "Home")">Povratak</a>

}
